@{
    ViewData["Title"] = "You are not the owner";
}

<h2>Error while performing the requested action</h2>

<p class="lead text-danger">
    It appear you are not the owner of this group; preventing us from performing the requested action.
</p>
<p>
    Please ensure the group you selected is indeed one of yours.
</p>
