@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h2><strong style="color: #581;">Köombu</strong> is a social sharing platform for professionals.</h2>
        <h4>With an account you can create and participate in groups, add posts and follow users you like!</h4>
        <br />
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Login</h3>
                <p>Login using your email and password.</p>
                <a asp-controller="Account" asp-action="Login" class="btn btn-default">Login</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Register</h3>
                <p>Register using your email and password.</p>
                <a asp-controller="Account" asp-action="Register" class="btn btn-default">Register</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4><strong>Köombu</strong> was made using ASP CORE MVC by <strong>Yohann Jolain</strong> and <strong>Sébastien Erfani</strong></h4>
        <p>School Project 3ASP</p>
        <br />
    </div>
    
</div>